* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::before {
  content: "";

  width: 100%;
  height: 465px;
  background: #293241;

  position: absolute;
  z-index: -1;
}

body {
  font-family: "Poppins", sans-serif;
  background: #bfd7e4;
}

input,
select,
textarea {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
button {
  font-family: "Staatliches", cursive;
  font-weight: 400;
  text-transform: uppercase;
}

#page {
  width: 750px;
  margin: auto;
}

header {
  color: #fff;

  padding-top: 107px;
  margin-bottom: 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 36px;
}

header p {
  font-size: 16px;
  margin-bottom: 32px;
}

header #img {
  width: 225px;
  height: 100px;
}

main {
  border-radius: 20px;
  background: #fff;
  margin-bottom: 107px;
}

main form {
  padding: 32px 64px 64px 64px;
}

main form fieldset {
  border: none;
}

main form fieldset legend {
  color: #253b51;

  font-family: "Staatliches", cursive;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  text-align: center;

  padding-bottom: 8px;
  margin-bottom: 31px;
  border-bottom: 1px solid #e6e6f0;

  display: block;
  width: 100%;
}

main .title {
  width: 100%;
  height: 125px;

  color: #fff;
  background: #f67669;
  border-radius: 20px 20px 0 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

main .title h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.container-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
}

.container-group-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.container-group-date .container-input:nth-child(1) {
  margin-right: 22px;
}

.container-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

label {
  color: #4e4958;
  font-size: 14px;
  line-height: 24px;
}

label span {
  color: #797484;
  font-size: 12px;
  line-height: 20px;
}

input,
textarea,
select {
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #e6e6f0;
  background: #fafafc;
  color: #253b51;
}

input {
  height: 56px;
  line-height: 24px;
  padding: 0 16px;
}

textarea,
select {
  padding: 16px;
}

input:focus,
textarea:focus {
  outline: 3px solid #253b51;
}

button {
  border-radius: 20px;
  border: none;

  background: #f67669;
  color: #fff;

  font-size: 20px;
  line-height: 26px;

  padding: 15px 40px;
}

button:hover {
  cursor: pointer;
  background: #e2685a;
}

select {
  appearance: none;
  -webkit-appearance: none;
  background-image: url("/images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 24px center;
}

.container-checkbox {
  position: relative;
}

.container-checkbox input {
  position: absolute;
  top: 0;
  left: 0;

  width: 24px;
  height: 24px;

  opacity: 0;
}

.container-checkbox label {
  display: flex;
  align-items: center;
  gap: 16px;
}

.container-checkbox label::before {
  content: "";

  display: block;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  border: 1px solid #e6e6f0;
  background: #fafafc;
}

.container-checkbox input:checked + label::before {
  background-image: url("/images/check.svg");
}

.container-checkbox input:focus + label::before {
  outline: 2px solid #253b51;
}

.form-actions button {
  width: 100%;
  margin-top: 64px;
}
